{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}
<section class="banner-area relative about-banner" id="home" style="background-image: url('/static/principal/images/preguntas.jpg')">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content2 col-lg-12">
                <h1 class="text-white">
                    ¡Contraseña cambiada!
                </h1><br>
            </div>
        </div>
    </div>
</section>
<section>
<div class="container" style="margin: 50px; position: relative; left: 15%;">

  <p>{% trans "Te hemos mandado un correo con instrucciones para cambiar la contraseña. El correo llegará en poco tiempo." %}</p>
  <p>{% trans "Si no recibes el correo, asegúrate de que has introducido tu dirección de correo correctamente, y echa un vistazo en la carpeta del spam! %}</p>
  <p>{% trans "Una vez hecho esto, si el correo sigue sin llegar, contacta con nosotros mandando un correo a almamater.contacto@gmail.com. Esperamos ayudarte. %}</p>
</div>
</section>
{% endblock %}
