{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<section class="banner-area relative about-banner" id="home" style="background-image: url('/static/principal/images/preguntas.jpg')">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content2 col-lg-12">
                <h1 class="text-white">
                    ¡Bienvenid@!
                </h1><br>
            </div>
        </div>
    </div>
</section>
<section>
<div class="container" style="margin: 50px; position: relative; left: 15%;">

  <h1 class="headline">{% trans "Cambio de contraseña" %}</h1>

  <form action="." method="post">
    {% csrf_token %}
    {% include "spirit/_form.html" %}

    <button class="genric-btn primary" type="submit" name="post">Cambiar mi contraseña</button>
  </form>
</section>
{% endblock %}
